.dark {
    background: dimgrey;
}
.pink{
    background-color: deeppink;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: rgb(240, 255, 239);
}

.pink-text{
    color: white;
}