.active{
color: orange;
    animation-name:root;
    animation-duration: 1s;
}

@keyframes root {
    0%{
        opacity: 0%;
        padding-top: 1px;
    }
    50%{
        opacity: 50%;
        padding-top: 2px;
    }
    100%{
        opacity: 100%;

    }
}

.show{

    animation-name:root ;
    animation-duration: 0.5s;
    opacity: 100%;
}
.hide{
  display: none;
}
